@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Roboto&display=swap');

:root {
--heading-font: "Smooch";
--paragraph-font: Koulen, Helvetica, sans-serif;
}

#content {
    max-width: 1600px;    
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: gold;
    text-decoration: none;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

nav a {
    padding: 35px;
    text-decoration: none;
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: cornsilk;
    font-family: 'Playfair Display', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#logo_link { 
    width: 100%;
    padding-top: 5px;
}

#hero-img {
    width: 100%;
}

header {
    background-color: darkgray;
}

nav a:hover {
    background-color: rosybrown;
    color: black;
}

.book, .join{
    background-color: darkcyan;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: red;
    color: black;
}

#background {
    background-color: cadetblue;
}

.msg {
    background-color: #6f7364;
    padding-bottom: 15px;
}

footer {
    background-color: darkgrey;
    text-decoration: none;
}


.home-title {
    font-family: 'Playfair Display', 'Bradley Hand', sans-serif;
    font-size: 2em;
    color: black;
    margin-top: 50px;
}

h2 {
    margin: 0;
}

h4 {
    color: black;
}

.msg h2 {
    color: black;
}

.msg p {
    font-size: 2em;
    color: black;
    background-color: #6f7364;
    line-height: 1.5em;
    padding-bottom: 15px;
}

footer h3 {
    color: black;
}

footer a {
    color: gold;
}

footer a:hover {
    color: black;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

footer {
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

#hero-msg {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.card-img {
    border: 10px solid cadetblue;
}

main section img {
    box-sizing: border-box;
}

